<a href="https://colab.research.google.com/github/VakhromeevaKate/sechenov-ai-methods-course/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Pandas для анализа данных и EDA

Pandas — это очень популярная библиотека Python для работы с табличными данными. Почти Excel на стероидах, но еще и с кодом.

Зачем он нужен:
- Чтение и запись данных из различных форматов (CSV, Excel, SQL, JSON)
- Очистка и предобработка данных
- Преобразование и агрегация данных
- Визуализация данных (но только табличных)

/* Exploratory Data Analysis (EDA) — разведочный анализ данных */

# Основные структуры данных

## 1. Series — одномерный массив с метками

In [1]:
import pandas as pd
import numpy as np

# Создание Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## 2. DataFrame — двумерная таблица (основная структура)

In [2]:
# Создание DataFrame из словаря
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Tokyo', 'Paris'],
    'Salary': [50000, 70000, 80000, 60000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   70000
2  Charlie   35     Tokyo   80000
3    David   28     Paris   60000

## Основные методы pandas с примерами

## 1. Загрузка данных

In [4]:
# Создание демо-датасета для примера
data = {
    'Age': [25, 30, 35, 28, 40, 22, 33, 29, 31, 27],
    'Salary': [50000, 70000, 80000, 60000, 90000, 45000, 75000, 62000, 68000, 58000],
    'Department': ['IT', 'HR', 'IT', 'Finance', 'IT', 'HR', 'Finance', 'IT', 'HR', 'Finance'],
    'Experience': [2, 5, 8, 3, 12, 1, 7, 4, 6, 3],
    'Gender': ['F', 'M', 'M', 'M', 'M', 'F', 'M', 'F', 'M', 'F']
}

df = pd.DataFrame(data)

In [6]:
# Выгрузка в CSV (базовый вариант)
df.to_csv('data.csv', index=False)

# Выгрузка в CSV с дополнительными параметрами
df.to_csv('data_advanced.csv',
          index=False,           # Не сохранять индексы
          encoding='utf-8-sig',  # Кодировка с BOM для Excel
          sep=';',               # Разделитель - точка с запятой
          decimal=',')           # Разделитель десятичных - запятая

In [7]:
# Выгрузка в Excel
df.to_excel('data.xlsx', index=False)

# Выгрузка в Excel с дополнительными параметрами
df.to_excel('data_advanced.xlsx',
            index=False,              # Не сохранять индексы
            sheet_name='Датасет',     # Название листа
            startrow=1,               # Начать с второй строки
            startcol=0)               # Начать с первого столбца

In [8]:
# Загрузка из CSV
df = pd.read_csv('data.csv')

# Загрузка из Excel
df = pd.read_excel('data.xlsx')

## 2. Просмотр данных

In [10]:
# Первые 5 строк
print("Первые 5 строк:")
df.head()

Первые 5 строк:

   Age  Salary Department  Experience Gender
0   25   50000         IT           2      F
1   30   70000         HR           5      M
2   35   80000         IT           8      M
3   28   60000    Finance           3      M
4   40   90000         IT          12      M

In [11]:
# Основная информация о данных
print("\nИнформация о DataFrame:")
df.info()

Информация о DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         10 non-null     int64
 1   Salary      10 non-null     int64
 2   Department  10 non-null     object
 3   Experience  10 non-null     int64
 4   Gender      10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes

In [12]:
# Статистика по числовым колонкам
print("\nСтатистика:")
df.describe()

Статистика:

             Age        Salary  Experience
count  10.000000     10.000000    10.00000
mean   30.000000  65800.000000     5.10000
std     5.142416  13685.353079     3.28126
min    22.000000  45000.000000     1.00000
25%    27.250000  58500.000000     3.00000
50%    29.500000  65000.000000     4.50000
75%    32.500000  73750.000000     6.75000
max    40.000000  90000.000000    12.00000

In [13]:
# Размеры данных
print(f"\nРазмер данных: {df.shape}")

Размер данных: (10, 5)

## 3. Выбор данных

In [15]:
# Выбор колонки
print(df['Age'])

# Выбор нескольких колонок
print(df[['Age', 'Salary']])

# Фильтрация по условию
high_salary = df[df['Salary'] > 70000]
print("\nСотрудники с зарплатой > 70000:")
print(high_salary)

# Сложные условия
it_high_salary = df[(df['Department'] == 'IT') & (df['Salary'] > 60000)]
print("\nIT сотрудники с зарплатой > 60000:")
print(it_high_salary)

0    25
1    30
2    35
3    28
4    40
5    22
6    33
7    29
8    31
9    27
Name: Age, dtype: int64
   Age  Salary
0   25   50000
1   30   70000
2   35   80000
3   28   60000
4   40   90000
5   22   45000
6   33   75000
7   29   62000
8   31   68000
9   27   58000

Сотрудники с зарплатой > 70000:
   Age  Salary Department  Experience Gender
2   35   80000         IT           8      M
4   40   90000         IT          12      M
6   33   75000    Finance           7      M

IT сотрудники с зарплатой > 60000:
   Age  Salary Department  Experience Gender
2   35   80000         IT           8      M
4   40   90000         IT          12      M
7   29   62000         IT           4      F

## 4. Работа с пропущенными значениями

In [16]:
# Добавим немного пропущенных значений для демонстрации
df_with_na = df.copy()
df_with_na.loc[2, 'Salary'] = np.nan
df_with_na.loc[5, 'Age'] = np.nan

print("Данные с пропусками:")
print(df_with_na.isnull().sum())

# Удаление строк с пропусками
df_cleaned = df_with_na.dropna()

# Заполнение пропусков
df_filled = df_with_na.fillna({
    'Salary': df_with_na['Salary'].mean(),
    'Age': df_with_na['Age'].median()
})

Данные с пропусками:
Age           1
Salary        1
Department    0
Experience    0
Gender        0
dtype: int64

## 5. Группировка и агрегация

In [17]:
# Средняя зарплата по отделам
dept_stats = df.groupby('Department')['Salary'].agg(['mean', 'median', 'count'])
print("Статистика по отделам:")
print(dept_stats)

# Несколько агрегаций по разным колонкам
summary = df.groupby('Department').agg({
    'Salary': ['mean', 'max', 'min'],
    'Age': 'mean',
    'Experience': 'sum'
})
print("\nРасширенная статистика:")
print(summary)

Статистика по отделам:
                    mean   median  count
Department
Finance     64333.333333  60000.0      3
HR          61000.000000  68000.0      3
IT          70500.000000  71000.0      4

Расширенная статистика:
                  Salary                      Age Experience
                    mean    max    min       mean        sum
Department
Finance     64333.333333  75000  58000  29.333333         13
HR          61000.000000  70000  45000  27.666667         12
IT          70500.000000  90000  50000  32.250000         26

pd.cut() разбивает непрерывные числовые данные на интервалы (бины) и преобразует их в категориальные переменные. Это особенно полезно для:

- Группировки (например, возрастов - "18-25", "26-35", "36-45")
- Категоризации (например, зарплат - "Низкая", "Средняя", "Высокая")
- Создания каких-либо сегментов для анализа

In [25]:
# Базовое разбиение зарплат на 3 группы
print("\n=== ПРИМЕР 1: Базовое разбиение на 3 группы ===")

# bins=3 - автоматически создает 3 равных интервала
salary_groups = pd.cut(df['Salary'], bins=3)
df['Salary_Group'] = salary_groups

print("Автоматическое разбиение на 3 группы:")
print(df[['Age', 'Salary', 'Salary_Group_Auto']])

=== ПРИМЕР 1: Базовое разбиение на 3 группы ===
Автоматическое разбиение на 3 группы:
   Age  Salary   Salary_Group_Auto
0   25   50000  (44955.0, 60000.0]
1   30   70000  (60000.0, 75000.0]
2   35   80000  (75000.0, 90000.0]
3   28   60000  (44955.0, 60000.0]
4   40   90000  (75000.0, 90000.0]
5   22   45000  (44955.0, 60000.0]
6   33   75000  (60000.0, 75000.0]
7   29   62000  (60000.0, 75000.0]
8   31   68000  (60000.0, 75000.0]
9   27   58000  (44955.0, 60000.0]

In [27]:
# Кастомные интервалы
import pandas as pd

# Создаем демо-датасет
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [45000, 62000, 85000, 58000, 92000],
    'Age': [25, 30, 35, 28, 42]
}

df = pd.DataFrame(data)
print("Исходные данные:")
print(df)
print("\n" + "="*40)

# 📊 КАСТОМНЫЕ ИНТЕРВАЛЫ ДЛЯ ЗАРПЛАТ
salary_bins = [0, 50000, 70000, 100000]
salary_labels = ['Низкая', 'Средняя', 'Высокая']

df['Salary_Level'] = pd.cut(
    df['Salary'],
    bins=salary_bins,
    labels=salary_labels,
    right=True,        # (a, b] - правая граница ВКЛЮЧЕНА
    include_lowest=True
)

# 📊 КАСТОМНЫЕ ИНТЕРВАЛЫ ДЛЯ ВОЗРАСТА
age_bins = [20, 30, 40, 50]
age_labels = ['Молодой', 'Взрослый', 'Опытный']

df['Age_Group'] = pd.cut(
    df['Age'],
    bins=age_bins,
    labels=age_labels,
    right=False,       # [a, b) - левая граница ВКЛЮЧЕНА
    include_lowest=True
)

print("Результат с кастомными интервалами:")
print(df[['Name', 'Salary', 'Salary_Level', 'Age', 'Age_Group']])

Исходные данные:
      Name  Salary  Age
0    Alice   45000   25
1      Bob   62000   30
2  Charlie   85000   35
3    David   58000   28
4      Eva   92000   42

========================================
Результат с кастомными интервалами:
      Name  Salary Salary_Level  Age Age_Group
0    Alice   45000       Низкая   25   Молодой
1      Bob   62000      Средняя   30  Взрослый
2  Charlie   85000      Высокая   35  Взрослый
3    David   58000      Средняя   28   Молодой
4      Eva   92000      Высокая   42   Опытный

## 6. Сортировка

In [18]:
# Сортировка по зарплате (по убыванию)
df_sorted = df.sort_values('Salary', ascending=False)
print("Сортировка по зарплате:")
print(df_sorted.head())

Сортировка по зарплате:
   Age  Salary Department  Experience Gender
4   40   90000         IT          12      M
2   35   80000         IT           8      M
6   33   75000    Finance           7      M
1   30   70000         HR           5      M
8   31   68000         HR           6      M

## Пример: Полный пайплайн обработки и выгрузки

In [19]:
def data_processing_pipeline(input_df, output_prefix):
    """
    Полный пайплайн обработки данных и выгрузки результатов
    """
    # 1. Очистка данных
    processed_df = input_df.copy()

    # Заполнение пропусков
    numeric_cols = processed_df.select_dtypes(include=[np.number]).columns
    for col in numeric_cols:
        if processed_df[col].isnull().sum() > 0:
            processed_df[col].fillna(processed_df[col].median(), inplace=True)

    # 2. Добавление новых признаков
    processed_df['Salary_Group'] = pd.cut(processed_df['Salary'],
                                        bins=[0, 55000, 70000, 100000],
                                        labels=['Низкая', 'Средняя', 'Высокая'])

    processed_df['Experience_Level'] = pd.cut(processed_df['Experience'],
                                            bins=[0, 3, 6, 15],
                                            labels=['Junior', 'Middle', 'Senior'])

    # 3. Агрегация данных
    department_summary = processed_df.groupby('Department').agg({
        'Salary': ['mean', 'median', 'count'],
        'Age': 'mean',
        'Experience': 'mean'
    }).round(2)

    salary_analysis = processed_df.groupby(['Department', 'Salary_Group']).agg({
        'Salary': 'mean',
        'Age': 'mean',
        'Experience': 'mean'
    }).round(2)

    # 4. Выгрузка результатов
    with pd.ExcelWriter(f'{output_prefix}_full_report.xlsx') as writer:
        # Исходные данные
        processed_df.to_excel(writer, sheet_name='Обработанные данные', index=False)

        # Аналитические таблицы
        department_summary.to_excel(writer, sheet_name='Статистика по отделам')
        salary_analysis.to_excel(writer, sheet_name='Анализ зарплат')

        # Отдельные срезы по отделам
        for department in processed_df['Department'].unique():
            dept_data = processed_df[processed_df['Department'] == department]
            dept_data.to_excel(writer, sheet_name=f'{department}', index=False)

    # Выгрузка в CSV
    processed_df.to_csv(f'{output_prefix}_processed_data.csv', index=False, encoding='utf-8-sig')
    department_summary.to_csv(f'{output_prefix}_department_stats.csv', encoding='utf-8-sig')

    print(f"Отчеты успешно выгружены с префиксом: {output_prefix}")
    return processed_df

# Запуск пайплайна
final_df = data_processing_pipeline(df, 'employee_analysis')

Отчеты успешно выгружены с префиксом: employee_analysis

/tmp/ipython-input-898753074.py:30: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  salary_analysis = processed_df.groupby(['Department', 'Salary_Group']).agg({